<h1>{{title}}</h1>
<ul>
  {{#each movies}}
  <li>
    <a href="/movies/{{ this._id }}">
      {{ this.title }}
    </a>
    - {{ this.genre }}
    <a href="/movies/{{ this._id }}/edit">
      Edit
    </a>
    <form action="/movies/{{ this._id }}/delete" method="POST">
      <button> Delete </button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/movies/new">
  Click here to add a new movie
</a>