<h1>Editing {{ book.title }}</h1>
<form action="/books/edit?book_id={{book._id}}" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{ book.title }}">
  <label for="">Author:</label>
  <select name="author" id="author">
    <option>Choose an author</option>
      {{#each allAuthors}}
        <option value="{{this._id}}" {{{isSelected this.name ../book.author.0.name}}}>{{this.name}}</option>
      {{/each}}
  </select>

  <select name="author" id="author" multiple>
    <option>Choose an author</option>
      {{{multipleSelect allAuthors book.author}}}
  </select>


  <label for="">Description:</label>
  <input type="text" name="description" value="{{ book.description }}">

  <label for="">Rate:</label>
  <input type="number" name="rating" value="{{ book.rating }}">

  <button type="submit">EDIT</button>
</form>